body {
  background-image: url('../img/imagemfigma.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.container-admin-banner {
  text-align: center;
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.container-admin-banner h1 {
  font-size: 2rem;
  margin: 20px 0;
  color: white;
}

.logo-admin {
  width: 80px;
  height: auto;
}

.ornamento {
  width: 50px;
  height: auto;
  margin-top: 10px;
}

.topo-direita{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 10px;
  background-color: #c2a3db;
  padding: 10px;
  border-radius: 5px;
}
