body {
  background-image: url(../img/imagemfigma.jpg);
  color: #000;
  padding: 0;
  margin: 0;
}

header {
  background-color: #f3c5e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #8a1c82;
  line-height: 1.2;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #4a004a;
  font-weight: bold;
}

.login-button {
  background-color: #f295f3;
  color: rgb(0, 0, 0);
  padding: 8px 14px;
  border-radius: 5px;
}

main {
  padding: 40px;
}

main h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  color: #ffffff;
}

main p {
  margin-bottom: 20px;
  font-size: 1rem;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.secao-produto {
  border: 2px solid #9c27b0;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  background-color: #e9e7e9;
}

.secao-produto img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.informacoes {
  color: #000000;
  font-weight: bold;
}
